{% extends 'scrum/_base.html' %}
{% load i18n %}

{% block main_content %}

<div class="weui-toptips weui-toptips_warn js_tooltips">{% trans 'tooltips' %}</div>
<div class="container" id="container">

    <form class="" action="../enroll/" method="POST">
        {% csrf_token %}
        <div class="page__hd">
            <h1 class="page__title">{% trans 'enroll the exam' %}</h1>
            <p class="page__desc">{% trans 'will send you score' %}</p>
        </div>

        <div class="page__bd page__bd_spacing">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">{% trans 'real name' %}</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="{% trans 'plz input name' %}" name="name" required>
                    </div>
                </div>
                <!--<div class="weui-cell">-->
                    <!--<div class="weui-cell__hd"><label class="weui-label">微信号</label></div>-->
                    <!--<div class="weui-cell__bd">-->
                        <!--<input class="weui-input" type="text" placeholder="请输入微信号" name="wechat_id" >-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui-cell">-->
                    <!--<div class="weui-cell__hd"><label class="weui-label">电子邮箱</label></div>-->
                    <!--<div class="weui-cell__bd">-->
                        <!--<input class="weui-input" type="email" placeholder="请输入邮箱" name="email">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui-cell weui-cell_vcode">-->
                    <!--<div class="weui-cell__hd">-->
                        <!--<label class="weui-label">手机号</label>-->
                    <!--</div>-->
                    <!--<div class="weui-cell__bd">-->
                        <!--<input class="weui-input" type="tel" placeholder="请输入手机号" name="mobile">-->
                    <!--</div>-->
                    <!--<div class="weui-cell__ft">-->
                        <!--<a href="#" class="weui-vcode-btn">获取验证码</a>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">{% trans 'company name' %}</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="{% trans 'plz input company name' %}" name="company" required>
                    </div>
                </div>
                <label class="weui-agree">
                    <input type="checkbox" class="weui-agree__checkbox" name="terms_read" value="read" checked="checked">
                        <span class="weui-agree__text">{% trans 'agreement' %}
                        </span>
                </label>
            </div>
            <div class="weui-btn-area">
                <input type="submit" class="weui-btn weui-btn_primary" id="enroll" value="{% trans 'start the exam' %}"/>
            </div>
        </div>

    </form>


</div>
{% endblock %}


{% block custom_scripts %}
{% endblock %}
