{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="Keywords" content="Scrum exam 在线 考试 题库">
    <meta name="Description" content="Scrum exam 在线 考试 题库">
    <title>Scrum在线考试</title>

    <!-- <link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap.min.css" %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/h5.css' %}">
    <link rel="stylesheet" type="text/css" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
</head>


<body>
    <div class="">
        <p>{{ s }}</p>

        <p>{{ signature }}</p>

        <div id='msg'>N/A<br/></div>
    </div>
    <div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
    <div class="container" id="container">    

        <div class="">
            <div class="page__hd">
                <h1 class="page__title">Button</h1>
                <p class="page__desc">按钮</p>
            </div>
            <div class="page__bd page__bd_spacing">
                <a href="javascript:;" class="weui-btn weui-btn_primary">页面主操作 Normal</a>
                <a href="javascript:;" class="weui-btn weui-btn_primary weui-btn_loading"><i class="weui-loading"></i>页面主操作 Loading</a>
                <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_primary">页面主操作 Disabled</a>
                <a href="javascript:;" class="weui-btn weui-btn_default">页面次要操作 Normal</a>
                <a href="javascript:;" class="weui-btn weui-btn_default weui-btn_loading"><i class="weui-loading"></i>页面次操作 Loading</a>
                <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default">页面次要操作 Disabled</a>
                <a href="javascript:;" class="weui-btn weui-btn_warn">警告类操作 Normal</a>
                <a href="javascript:;" class="weui-btn weui-btn_warn weui-btn_loading"><i class="weui-loading"></i>警告类操作 Loading</a>
                <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_warn">警告类操作 Disabled</a>
                
                <div class="button-sp-area">
                    <a href="javascript:;" class="weui-btn weui-btn_plain-default">按钮</a>
                    <a href="javascript:;" class="weui-btn weui-btn_plain-default weui-btn_plain-disabled">按钮</a>
                    <a href="javascript:;" class="weui-btn weui-btn_plain-primary">按钮</a>
                    <a href="javascript:;" class="weui-btn weui-btn_plain-primary weui-btn_plain-disabled">按钮</a>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">按钮</a>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">按钮</a>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">按钮</a>
                </div>
            </div>
            <div class="page__ft">
                <a href="javascript:home()"><img src="./images/icon_footer_link.png"></a>
            </div>
        </div>    


        <div class="">
            <div class="page__hd">
                <h1>Scrum</h1>
            </div>
            <div class="page__bd page__bd_spacing">
                <a href="javascript:;" class="weui-btn weui-btn_primary">绿色按钮</a>
                <a href="javascript:;" class="weui-btn weui-btn_primary weui-btn_loading"><i class="weui-loading"></i>页面主操作 Loading</a>
            </div>
            <div class="page__ft">
                <img src="">
            </div>

        </div>


    </div>

    <!-- <script src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script> -->
    <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>


    <script>
        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{{ appId }}', // 必填，公众号的唯一标识
            timestamp: '{{ timestamp }}', // 必填，生成签名的时间戳
            nonceStr: '{{ nonceStr }}', // 必填，生成签名的随机串
            signature: '{{ signature }}',// 必填，签名，见附录1
            jsApiList: ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareWeibo', 'onMenuShareQQ',
                'chooseImage', 'hideOptionMenu', 'openLocation', 'getLocation', 'scanQRCode'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            $('#msg').append('READY<br/>');
            $('#msg').append('<br/>' + '{{ jsapi_ticket }}');
            wx.checkJsApi({
                jsApiList: ['chooseImage', 'onMenuShareTimeline', 'onMenuShareAppMessage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                success: function (res) {
                    // 以键值对的形式返回，可用的api值true，不可用为false
                    // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                    $('#msg').append('<br/>' + JSON.stringify(res));
                    //console.warn(res);
                }
            });
            wx.onMenuShareTimeline({
                title: '17运动网', // 分享标题
                link: '', // 分享链接
                imgUrl: 'http://img01.sogoucdn.com/app/a/100520090/oIWsFtxa6I12PaFR-5TExdcSLF2g', // 分享图标
                success: function (res) {
                    // 用户确认分享后执行的回调函数
                    $('#msg').append('<br/>' + '确认分享回调=' + JSON.stringify(res));
                },
                cancel: function (res) {
                    // 用户取消分享后执行的回调函数
                    $('#msg').append('<br/>' + '取消分享回调' + JSON.stringify(res));
                }
            });
            wx.onMenuShareAppMessage({
                title: '17运动网', // 分享标题
                desc: '民间体育赛事活动的公众平台。', // 分享描述
                link: 'http://1.17sportsappserver.sinaapp.com/sports/h5_main', // 分享链接
                imgUrl: 'http://img01.sogoucdn.com/app/a/100520090/oIWsFtxa6I12PaFR-5TExdcSLF2g', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function (res) {
                    // 用户确认分享后执行的回调函数
                    $('#msg').append('<br/>' + '确认分享回调=' + JSON.stringify(res));
                },
                cancel: function (res) {
                    // 用户取消分享后执行的回调函数
                    $('#msg').append('<br/>' + '取消分享回调=' + JSON.stringify(res));
                }
            });
            $('#chooseImage').click(function () {
                wx.chooseImage({
                    success: function (res) {
                        var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                        $('#msg').append('<br/>' + '选取照片=' + JSON.stringify(res));
                    }
                });
            });
            $('#scanQRCode').click(function () {
                wx.scanQRCode({
                    needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success: function (res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        $('#msg').append('<br/>' + '扫码=' + JSON.stringify(res));
                    }
                });
            });
            $('#openLocation').click(function () {
                wx.getLocation({
                    success: function (res) {
                        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                        var speed = res.speed; // 速度，以米/每秒计
                        var accuracy = res.accuracy; // 位置精度
                        $('#msg').append('<br/>' + '获取坐标=' + JSON.stringify(res));
                        wx.openLocation({
                            latitude: latitude, // 纬度，浮点数，范围为90 ~ -90
                            longitude: longitude, // 经度，浮点数，范围为180 ~ -180。
                            name: '介地界儿', // 位置名
                            address: '瞎惹惹', // 地址详情说明
                            scale: 15, // 地图缩放级别,整形值,范围从1~28。默认为最大
                            infoUrl: 'www.baidu.com' // 在查看位置界面底部显示的超链接,可点击跳转
                        });
                    }
                });
            });
        });
        wx.error(function (res) {
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            $('#msg').append('<br/>' + 'ERROR=' + JSON.stringify(res));
        });
    </script>

</body>
</html>