{% extends 'scrum/_base.html' %}
{% load i18n %}
{% block main_content %}

<div class="weui-toptips weui-toptips_warn js_tooltips">{% trans 'tooltips' %}</div>
<div class="container" id="container">

    <div>
        <div class="page__hd">
            <h1 class="page__title">{{question}}</h1>
            <p class="page__desc">{% trans 'pre-reading' %}</p>
        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-cells__title">{% trans 'Single Answer' %}</div>
            <div class="weui-cells weui-cells_radio">
                {% for idx, desc in options %}
                <label class="weui-cell weui-check__label" for="x11{{idx}}">
                    <div class="weui-cell__bd">
                        <p>{% trans 'option' %} ({{idx}}). {{desc}}</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" class="weui-check" name="radio1" id="x11{{idx}}" value="{{idx}}">
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
                {% endfor %}
            </div>
            <a href="javascript:void(0);" class="weui-cell weui-cell_link" id="explanation">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-success weui-icon_msg"></i>
                </div>
                <div class="weui-cell__bd">{% trans 'correct answer' %}: {{answer}}<br/>{% trans 'explanation' %}: {{explanation}}</div>
            </a>

            <div class="weui-btn-area">
                <input type="submit" class="weui-btn weui-btn_primary" id="submitAnswer" value="{% trans 'submit answer' %}"/>
                <a class="weui-btn weui-btn_default" href="./enroll_page" id="goEnroll">{% trans 'go ahead' %}</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}


{% block custom_scripts %}

<script>
    console.log($('#x11').val());

    $('#explanation').hide()
    $('#submitAnswer').click(function() {
        $('#explanation').show()
        $('#submitAnswer').attr('disabled', 'disabled').addClass('weui-btn_default').removeClass('weui-btn_primary')
        $('#goEnroll').addClass('weui-btn_primary').removeClass('weui-btn_default')

    })
</script>

{% endblock %}

</body>
</html>