{% extends 'scrum/_base.html' %}
{% load i18n %}

{% block main_content %}

<div class="weui-toptips weui-toptips_warn js_tooltips">{% trans 'tooltips' %}</div>
<div class="container" id="container">

    <form class="" action="../finishing/" method="POST" id="finish">
        {% csrf_token %}
        <div class="page__hd">
            <div class="weui-msg">
                <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">{% trans 'Completion and score' %} <span id="final_score"></span></h2>
                    <p class="weui-msg__desc">{% trans 'leave your email' %}</p>
                </div>
            </div>
        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">{% trans 'email' %}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="email" placeholder="{% trans 'plz input email' %}" name="email" required="required">
                </div>
            </div>
            <input type="submit" href="javascript:;" class="weui-btn weui-btn_primary" value="{% trans 'send me result' %}"/>
            <div class="weui-cell__bd">{% trans 'will redirect' %}</div>
        </div>
    </form>

</div>


{% endblock %}


{% block custom_scripts %}
<script>
    $('#finish').submit(function( event ) {
        $('.weui-msg__title').html("{% blocktrans %}score is {{final_score}}{% endblocktrans %}")
        return true
    });


</script>

{% endblock %}