{% extends 'scrum/_base.html' %}

{% block main_content %}

<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
<div class="container" id="container">

    <form class="" action="../finishing/" method="POST">
        {% csrf_token %}
        <div class="page__hd">
            <div class="weui-msg">
                <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">考试完成获得{{final_score}}分</h2>
                    <p class="weui-msg__desc">留下您的邮箱,我们将发送考试结果和一份权威学习资料到您的邮箱, 查看<a
                            href="http://www.uperform.cn/recent-public-course/">近期敏捷Scrum认证公开班</a></p>
                </div>
            </div>
        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">电子邮箱</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="email" placeholder="请输入邮箱" name="email" required="required">
                </div>
            </div>
            <input type="submit" href="javascript:;" class="weui-btn weui-btn_primary" value="发给我成绩和学习资料吧"/>
            <div class="weui-cell__bd">发送后会自动跳转网页</div>
        </div>
    </form>

</div>


{% endblock %}
