{% extends 'scrum/_base.html' %}

{% block main_content %}
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
<div class="container" id="container">

    <form class="" action="../answerit/" method="POST">
        {% csrf_token %}
        <div class="page__hd">
            <div class="weui-progress">
                <div class="weui-progress__bar">
                    <div class="weui-progress__inner-bar js_progress" style="width: 80%;" id="progress"></div>
                </div>
                <span id="remaining_seconds"><i class="weui-icon-info"></i>59:06</span>
            </div>
            <h1 class="page__title">{{entry.question}}</h1>
            <p class="page__desc">第{{entry.id}}题/共{{entry_count}}题</p>
        </div>

        <div class="page__bd page__bd_spacing">
            {% if entry.category == 'S' %}
            <div class="weui-cells__title">单选题</div>
            <div class="weui-cells weui-cells_radio">
                {% for idx, desc in enumerated_options %}
                <label class="weui-cell weui-check__label" for="x11{{idx}}">
                    <div class="weui-cell__bd">
                        <p>选项({{idx}}). {{desc}}</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" class="weui-check" name="radio_single" id="x11{{idx}}" value="{{idx}}">
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
                {% endfor %}
            </div>
            {% elif entry.category == 'M' %}
            <div class="weui-cells__title">多选题</div>
            <div class="weui-cells weui-cells_checkbox">
                {% for idx, desc in enumerated_options %}
                <label class="weui-cell weui-check__label" for="s11{{idx}}">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" name="checkbox_multi" id="s11{{idx}}" value="{{idx}}">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>选项({{idx}}). {{desc}}</p>
                    </div>
                </label>
                {% endfor %}
            </div>
            {% endif %}
            <a href="javascript:void(0);" class="weui-cell weui-cell_link" id="explanation">
                <div class="weui-msg__icon-area">
                    {% if is_answered_correct %}
                    <i class="weui-icon-success weui-icon_msg"></i>
                    {% else %}
                    <i class="weui-icon-warn weui-icon_msg"></i>
                    {% endif %}
                </div>
                <div class="weui-cell__bd">正确答案是:{{entry.answer}}<br/>解释:{{entry.explanation}}
                </div>
            </a>

            <div class="weui-btn-area">
                <input type="submit" class="weui-btn weui-btn_primary" id="submitAnswer" value="提交答案"/>
                <a class="weui-btn weui-btn_default" href="javascript:" id="nextQuestion">下一步</a>
            </div>
        </div>
    </form>


</div>
{% endblock %}


{% block custom_scripts %}
<script>
        if (!String.format) {
          String.format = function(format) {
            var args = Array.prototype.slice.call(arguments, 1);
            return format.replace(/{(\d+)}/g, function(match, number) {
              return typeof args[number] != 'undefined'
                ? args[number]
                : match
              ;
            });
          };
        }

        function zero(s) {
            return s < 10 ? '0' + s: s;
        }

        console.log('{{start_time}}')
        var d = Date.parse('{{start_time}}')
        console.warn(new Date() - d)
        //var end = {{entry.id}} / {{entry_count}} * 100 + 1;

        var elapsed_sec = 0;
        var total_sec = 20 * 60;
        var progress = 1;
        var end = 100 ;
        function next() {
            if(progress > end){
                progress = end;
                return;
            }
            elapsed_sec = (new Date() - d) / 1000;
            progress = (elapsed_sec / total_sec) * 100;
            $('#progress').css({width: progress + '%'});

            var m = Math.floor((total_sec-elapsed_sec)/60)
            var s = Math.round((total_sec-elapsed_sec)%60)

            $('#remaining_seconds').text(String.format('-{0}:{1}', zero(m), zero(s) ) )
            setTimeout(next, 500);
        }
        next();

        $('#explanation').hide();

        {% if answered %}
        $('#submitAnswer').attr('disabled', 'disabled').addClass('weui-btn_default').removeClass('weui-btn_primary')
        $('#explanation').show();
        $('#nextQuestion').addClass('weui-btn_primary').removeClass('weui-btn_default')
        {% else %}
        $('#submitAnswer').click(function(){
            $('#explanation').show();
        });
        {% endif %}


        $('#nextQuestion').click(function() {
            console.log('nextQuestion');
            if ({{entry_count}} == {{entry.id}}) {
                window.location.href = '../scoring'
            } else {
                window.location.href = './?entry_id=' + (parseInt({{entry.id}})+1);
            }
        });



</script>
{% endblock %}